<div class="row-fluid">
    <div class="well span12">
        <form method="post" {{ form_enctype(form) }}>
            <div class="controls controls-row">
                <div class="span6">
                    <label>{{ 'portfolioremy.contact.name'|trans }}</label>
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="span6">
                    <label>{{ 'portfolioremy.contact.firstname'|trans }}</label>
                    {{ form_errors(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                </div> 
            </div>
            <div class="controls">
                    <label>{{ 'portfolioremy.contact.mail'|trans }}
                        <span class="required" 
                              title="{{ 'portfolioremy.contact.fieldRequired'|trans }}"> *</span></label>
                    {{ form_errors(form.mail) }}
                    {{ form_widget(form.mail) }}
            </div>
            <div class="controls">
                <label>{{ 'portfolioremy.contact.message'|trans }}
                    <span class="required" 
                          title="{{ 'portfolioremy.contact.fieldRequired'|trans }}"> *</span></label>
                {{ form_errors(form.message) }}
                {{ form_widget(form.message) }}
            </div>
    {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary"><i class="el-icon-envelope"></i> {{ 'portfolioremy.contact.submit'|trans }}</button>           
        </form>
    </div>
</div>

