<div class="row-fluid">
<div class="well span12">
    <form method="post" {{ form_enctype(form) }}>
        <div class="controls">
        <label>{{ 'portfolioremy.articles.form.title'|trans }}<span class="required" 
                              title="{{ 'portfolioremy.contact.fieldRequired'|trans }}"> *</span></label>
        {{ form_errors(form.titre) }}
        {{ form_widget(form.titre) }}
        </div>
        <div class="controls">
        <label>{{ 'portfolioremy.articles.form.summary'|trans }}<span class="required" 
                              title="{{ 'portfolioremy.contact.fieldRequired'|trans }}"> *</span></label>
        {{ form_errors(form.resume) }}
        {{ form_widget(form.resume) }}
        </div>
        <div id="counter" class="alert alert-info"><span>0</span> caractères (100 à 125 requis).</div>
        {% if form.date != null %}
        <div class="controls">
        <label>{{ 'portfolioremy.articles.form.date'|trans }}<span class="required" 
                              title="{{ 'portfolioremy.contact.fieldRequired'|trans }}"> *</span></label>
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
        </div>
        {% endif %}
        <div class="controls">
        <label>{{ 'portfolioremy.articles.form.contents'|trans }}<span class="required" 
                              title="{{ 'portfolioremy.contact.fieldRequired'|trans }}"> *</span></label>
        {{ form_errors(form.contenu) }}
        {{ form_widget(form.contenu) }}
        </div>
        <div class="controls controls-row">
            <div class="span4">
            <label>{{ 'portfolioremy.articles.form.category'|trans }}<span class="required" 
                              title="{{ 'portfolioremy.contact.fieldRequired'|trans }}"> *</span></label>
            {{ form_errors(form.categories) }}
            {{ form_widget(form.categories) }}
            </div>
            <div class="span4">
            <label>{{ 'portfolioremy.articles.form.tags'|trans }}</label>
            {{ form_errors(form.tags) }}
            {{ form_widget(form.tags) }}
            </div>
        </div>
    {{ form_rest(form) }}
            <button type="submit" class="btn btn-danger"><i class="el-icon-ok"></i> {{ 'portfolioremy.articles.submit'|trans }}</button>           
        </form>
    </div>
</div>
